<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style >body{
        min-height: 100vh;
        background-color: #000;
        color: whitesmoke;
        display: grid;
        padding: 1rem;
        place-content: center;
    }
    html{
        font-family: 'Verdana';
        font-size: 2.5rem;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    li{
        margin: 5px;
    }</style>
</head>
<body>
    <h1>Task Manager REST-API</h1>
    <h3>GET,POST,PUT,DELETE operations</h3>
    <ul >
        <li>Endpoints: /api/</li>
        <li>POST: team</li>
        <li>task - Restricted</li>
        <li>user - Restricted</li>
        
    </ul>
</body>
</html>